@*
    Student name:   Asim Jasarevic
    Student number:	040922815
    Section:        CST8359_303
    Lab:			Lab 3 – Razor and Request/Session
    File:           Error.cshtmml
    Purpose:        Display unique error message to user
*@

@{
    ViewData["Title"] = "Lab3 error";
}

<h2>Error.</h2>
<h3>An error occurred while processing your request.</h3>

<p>
    Fun fact: The first person convicted of speeding was going eight mph.
</p>
