@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!--
    Student name:   Asim Jasarevic
    Student number:	040922815
    Section:        CST8359_303
    Lab:			Lab 4 – The Entity Framework
    File:           Index.cshtml
    Purpose:        html for home index page
    Source:         aarad-ac/EFCore/lab4
-->

@{ Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h1>Welcome to, Lab 4 – The Entity Framework.</h1>
<br>
<h1>Hello, I am Asim Jasarevic, currently a level 5 student at Algonquin college working part-time at SSC as an in-house program developer and database management.</h1>
<br>
<h3>Suggestion: are you able to set a bell notification in Brightspace when opening/unveiling a new lab/assignemnt/hybrid?</h3>

