@model Lab4.Models.Advertisement

@{ ViewData["Title"] = "Advertisement Upload"; }
@{
    string path = Context.Request.Path;
    string CommunityId = path.Substring(23, 2);
}

<h1>Advertisement Upload</h1>

<h4>Upload a Picture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Upload" enctype="multipart/form-data">
            <div class="form-group">
                <div class="btn btn-sm float-left">
                    <input name="CommunityId" type="hidden" value="@CommunityId">
                    <input name="AddImage" type="file">
                </div>
            </div>

            <div class="form-group">
                <button name="upload" class="btn btn-primary">Upload Now</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@CommunityId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
