@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Lab5</h1>
    <p> This Program allows you to upload and view images stored on Azure. </p>
    <p> "There is always a worse way to implement code" -Asim Jasarevic </p>
</div>