@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!--
    Student name:   Asim Jasarevic
    Student number:	040922815
    Section:        CST8359_303
    Lab:			Assignment01 – School Community
    File:           Index.cshtml
    Purpose:        html for home index page
    Source:         aarad-ac/EFCore/lab4
-->

@{ Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h1>Welcome to, Assignment 1 – School Community.</h1>
<br>
<h1>Hello, I am Asim Jasarevic, currently a level 5 student at Algonquin college working part-time at SSC as an in-house program developer and database management.</h1>
<br>

