<!--
    Student name:   Asim Jasarevic
    Student number:	040922815
    Section:        CST8359_303
    Lab:			Lab 4 – The Entity Framework
    File:           Error.cshtml
    Purpose:        Custom error page to display
-->

@{ Layout = "_Layout";
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">This is a unique error page... that is all.</h2>
