@using Microsoft.AspNetCore.Http;

@*
    Student name:   Asim Jasarevic
    Student number:	040922815
    Section:        CST8359_303
    Lab:			Lab 3 – Razor and Request/Session
    File:           Count.cshtmml
    Purpose:        Use passed qty value and loop to display lyric text
*@

@{
    Layout = "_Layout";
    ViewData["Title"] = "Lab3 count";
}


<h3>Count bottles page</h3>

<!--input to go back to razor-->
<form asp-action="Razor" method="post">
    <input type="submit" value="New lyrics" />
</form>

@{
    <!--get string value from session-->
    string bottleQuantityString = @Context.Session.GetString("bottleNum");
    <!--convert string value to int for loop-->
    int bottleQuantity = Convert.ToInt32(bottleQuantityString);

    <!--while loop to display lyrics-->
    while (bottleQuantity > -1)
    {
        <!--if qty not 1 or 0 display normal lyrics-->
        if (bottleQuantity > 1)
        {
            <br>
            <p>@bottleQuantity green bottles hanging on the wall,</p>
            <p>@bottleQuantity green bottles hanging on the wall,</p>
            <p>And if one green bottle should accidentally fall,</p>
            <p>There'll be @(bottleQuantity - 1) green bottles hanging on the wall.</p>
            <br>

        }
        else if (bottleQuantity == 1)
        {
            <!-- if qty is 1 display "one more" lyrics-->
            <br>
            <p>@bottleQuantity green bottle hanging on the wall,</p>
            <p>@bottleQuantity green bottle hanging on the wall,</p>
            <p>And if one green bottle should accidentally fall,</p>
            <p>There'll be no green bottles hanging on the wall.</p>
            <br>

        }
        else if (bottleQuantity == 0)
        {
            <!-- if qty is 0 display "no more" lyrics-->
            <br>
            <p>No more green bottles hanging on the wall,</p>
            <p>no more green bottles hanging on the wall,</p>
            <p>Go to the store and buy some more,</p>
            <p>99 green bottles hanging on the wall.</p>
            <br>
        }

        bottleQuantity--;

    }

}

