@*
    Student name:   Asim Jasarevic
    Student number:	040922815
    Section:        CST8359_303
    Lab:			Lab 3 – Razor and Request/Session
    File:           Razor.cshtmml
    Purpose:        Get bottle qty input from usser and pass to count
*@

@{ Layout = "_Layout";
    ViewData["Title"] = "Lab3 razor"; }

<h3>Razor page</h3>
<form asp-controller="Home" asp-action="Count" method="post">
    <table>
        <tr>
            <td>Quantity of bottles (between 50 and 100):</td>
            <td><input type="number" id="bottleNum" name="bottleNum" min="50" max="100" required="required"></td>
            <td><input type="submit" value="Get lyrics" /></td>
        </tr>
    </table>
</form>