@{
    ViewData["Title"] = "Lab3 error";
}

<h2>Error.</h2>
<h3>An error occurred while processing your request.</h3>

<p>
    Fun fact: The first person convicted of speeding was going eight mph.
</p>
