@*
    Student name:   Asim Jasarevic
    Student number:	040922815
    Section:        CST8359_303
    Lab:			Lab 3 – Razor and Request/Session
    File:           Index.cshtmml
    Purpose:        Display basic text in index body
*@

@{ Layout = "_Layout";
                ViewData["Title"] = "Lab3 index"; }

<h3>Index page</h3>
<p>fun fact: A cow-bison hybrid is called a “beefalo”</p>